body::-webkit-scrollbar {
    width: 5px !important;
}
body::-webkit-scrollbar-track {
    background: #383838 !important;
}
body::-webkit-scrollbar-thumb {
    background-color: #cfc9c5 !important;
    border: 1px solid #1a1a1a !important;
    border-radius: 1px !important;
}